*,
*::before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-card-main: hsl(0, 82%, 35%);
  --color-card-secondary: hsl(54, 100%, 56%);
  --color-main-bg: hsla(0, 92%, 45%, 0);

  --card-height: 350px;
  --card-width: 250px;
}

#root {
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-main-bg);
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 6rem;
  padding: 0 0 0 2rem;

  user-select: none;

  background-color: var(--color-card-main);
  color: var(--color-card-secondary);
}

.nav__bar {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.nav__bar button {
  background-color: var(--color-card-main);
  color: var(--color-card-secondary);
  width: 7rem;
  padding: 0 1rem;
  height: 100%;

  border: none;
  outline: none;

  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.nav__bar button:hover {
  background-color: var(--color-card-secondary);
  color: var(--color-card-main);
}

.subnav {
  position: relative;
  height: 100%;
}

.subnav button {
  height: 100%;
}

.dropdown {
  display: none;
  flex-direction: column;
  position: absolute;
  width: 100%;
}

.subnav:hover .dropdown--item {
  height: 2rem;
}

.subnav:hover .dropdown {
  display: flex;
}

.dropdown--item {
  width: inherit;
}

/* Main */
.main {
  height: 100%;
  width: 100%;
  padding: 3rem 0;
}

.cards__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;

  gap: 1rem;
  padding: 1rem;
}

.flashCard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--card-width);
  height: var(--card-height);
  border-radius: 0.7rem;

  font-size: 1.5rem;
  user-select: none;

  position: relative;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;

  text-align: center;
}

.flashCard:hover {
  transform: rotateY(180deg);
}

.flashCard__front,
.flashCard__back {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  position: absolute;
  border-radius: 0.7rem;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flashCard__front {
  background-color: var(--color-card-main);
  color: var(--color-card-secondary);
}

.flashCard__back {
  background-color: var(--color-card-secondary);
  color: var(--color-card-main);
  transform: rotateY(180deg);
  z-index: 2;
}

.add__btn {
  font-size: 5rem;
  background-color: var(--color-card-secondary);
  color: var(--color-card-main);
  width: var(--card-width);
  height: var(--card-height);
  border: none;
  border-radius: 0.7rem;
  outline: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;

  cursor: pointer;
}

.add__btn:hover {
  background-color: var(--color-card-main);
  color: var(--color-card-secondary);
}

.form {
  width: 100%;
  height: 100%;
}
